body {
    background-color: #662424;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto 1fr;
}

header {
    margin-left: 15px;
    z-index: 10;
    position: relative;
}

.hero-container {
    position: absolute;
    width: 100%;
    height: 60vh;
}

.hero-image {


    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;



}


.cta-button {
    position: relative;
    top: -290px;
    padding: 20px;
    margin: 15px;
    margin-left: 40px;
    background-color: #D84907;
    color: #070202;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;



}

.cta-button:hover {
    background-color: rgba(255, 255, 255, 0.1)
}

nav {
    background-color: #782507;

}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

nav .active {
    background-color: rgba(0, 0, 0, 0.2);
}

#myButton::before {
    content: "☰";
}

#myButton {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #0a0a0a;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: 0.25rem 2vw;
}

ul.menuLinks {
    display: none;
    list-style-type: none;
}

ul.menuLinks li a {
    border: none;
    display: block;
    padding: .75rem 2vw;
    text-decoration: none;
}

#myButton.open::before {
    content: "✕";
}

ul.menuLinks {
    display: none;
}

ul.menuLinks.open {
    display: block;
}

ul.menuLinks a {

    color: #FFFFFF;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}


h1 {
    font-family: Quando;
    color: #f5f5dc;
}

h2,
p {
    font-family: inter;
    color: #f5f5dc;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 20px;
}

footer {
    background-color: #6F2D06;
    text-align: center;
    padding: 20px;
}