@media screen and (min-width:500px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-left: 30px;
        margin-right: 30px;
        gap: 20px;

    }

    .cta-button {
        position: relative;
        top: -190px;
    }

    .event,
    .spotlight,
    .weather {
        border: 2px solid black;
    }

    #myButton {
        display: none;
    }

    ul.menuLinks,
    ul.menuLinks.open {
        display: flex;
        justify-content: space-around;
    }

    ul.menuLinks a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}