@media screen and (min-width:500px) {



    .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-left: 30px;
        margin-right: 30px;
        gap: 20px;


    }

    .content {
        display: grid;
        justify-content: center;
    }


    .cta-button {
        position: relative;
        top: -190px;
    }



    .weather {
        border: 2px solid black;
        border-radius: 10px;
    }

    #myButton {
        display: none;
    }

    ul.menuLinks,
    ul.menuLinks.open {
        display: flex;
        justify-content: space-around;
    }

    ul.menuLinks a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .hover:hover {
        box-shadow: 0 0 50px #111010;
    }
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;

}

input[type="radio"] {
    margin-right: 10px;
    margin-top: 5px;
}

#bdesc {
    width: 70%;
    height: 80px;
    padding: 1.5rem;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.membership-form {
    flex: 1;
    max-width: 500px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    align-items: center;
    margin: 10px;
}

.membership-benefits {
    flex: 1;
    max-width: 500px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}