body {
    background-color: azure;
}

header {
    display: flex;
    align-items: center;
}

header img {
    display: block;
    margin-right: 10px;

}

h1 {
    color: rgb(15, 15, 27);
}

h2 {
    background-color: rgb(230, 200, 172);
    display: block;
    margin: 1px;
}

nav {
    background-color: rgb(179, 227, 240);
    color: black;

}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

nav .active {
    background-color: rgba(0, 0, 0, 0.2);
}



#myButton {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #0a0a0a;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: 0.25rem 2vw;
}

ul.menuLinks li a {
    border: none;
    display: block;
    padding: .75rem 2vw;
    color: #0a0a0a;
    text-decoration: none;
}

ul.menuLinks {
    display: none;
}

ul.menuLinks.open {
    display: block;
}

ul.menuLinks a {
    color: rgb(5, 5, 22);
}


header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #5f3b3b;
    padding: 10px;
    background-color: rgb(214, 140, 70);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

}

section {
    padding: 1rem;
    background-color: white;
}


.week1,
.week2 {
    display: flex;
    padding: 0;


}

.week1 li {
    margin-right: 10px;

}

li {
    list-style-type: none;
}

div {
    background-color: azure;
}