body {
    background-color: azure;
    color: black;
    font-family: Roboto;
}

header {
    display: flex;
    align-items: center;
}

header img {
    display: block;
    margin-right: 10px;

}

#darkModeToggle {
    background: none;
    border: none;
    cursor: pointer;
}

#darkModeToggle img {
    width: 30px;
    height: 30px;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode header,
body.dark-mode footer {
    background-color: #333333;
    color: white;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode p,
body.dark-mode li,
body.dark-mode a {
    color: white;
}

body.dark-mode nav {
    background-color: rgb(18, 18, 49);
    color: whitesmoke;
}


body.dark-mode a:hover {
    color: #ffffff;
}


body.dark-mode .cardInfo p {
    color: #ccc;
}

body.dark-mode .container .description {
    color: white;
}

h1 {
    color: rgb(15, 15, 27);
}

h2 {
    background-color: rgb(230, 200, 172);
    display: block;
    margin: 1px;
}

nav {
    background-color: rgb(179, 227, 240);
    color: black;

}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

nav .active {
    background-color: rgba(0, 0, 0, 0.2);
}

#myButton::before {
    content: "☰";
}

#myButton {
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #0a0a0a;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: 0.25rem 2vw;
}

ul.menuLinks li a {
    border: none;
    display: block;
    padding: .75rem 2vw;
    color: #0a0a0a;
    text-decoration: none;
}

#myButton.open::before {
    content: "✕";
}


ul.menuLinks {
    display: none;
}

ul.menuLinks.open {
    display: block;
}

ul.menuLinks a {
    color: rgb(5, 5, 22);
}


header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #5f3b3b;
    padding: 10px;
    background-color: rgb(214, 140, 70);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;

}

section {
    padding: 1rem;
    background-color: white;
}


.week1,
.week2 {
    display: flex;
    padding: 0;


}

.week1 li {
    margin-right: 10px;

}

li {
    list-style-type: none;
}

div {
    background-color: rgb(211, 230, 230);
}

.hero {
    position: relative;
}

.hero img {

    width: 100%;
    height: auto;
    display: block;

}

.hero span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: .7rem;
    text-align: center;
}

.weather {
    font-family: "Winky Sans", sans-serif;
    text-align: center;
    border-radius: 10px;
}

.week-section ul {
    padding: 0;
    list-style-type: none;

}

.week-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}


.week-section h2 {
    margin-right: 10px;

}


.week-section ul {
    display: flex;
    padding: 0;
    list-style-type: none;

}


.week-section li {
    margin-right: 15px;
}

footer {
    text-align: center;
}