@media screen and (min-width:500px) {

    .container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }

    section {
        grid-template-columns: 1fr 1fr;
    }

    .card {
        border: 1px solid #ccc;
        padding: 1rem;
        box-sizing: border-box;
    }

    .card {
        flex: 2;
    }

    .cardInfo {
        flex: 1;
    }

    #myButton {
        display: none;
    }

    ul.menuLinks,
    ul.menuLinks.open {
        display: flex;
        justify-content: space-around;
    }

    ul.menuLinks a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}